body{
	background-color: #efeff5;
	font-family: 'Armata', sans-serif;
}

.navbar{
	background-color: transparent;
	background: transparent;
	border-color: transparent;
	text-align: center;
}

.navbar-inverse .navbar-brand:hover,.navbar-inverse .navbar-nav>li>a:hover{
	transition-duration: 0.5s;
	letter-spacing: 2px;
}

.navbar-inverse .navbar-brand,
.navbar-inverse .navbar-nav>li>a{
	color:white;
	text-shadow: 2px 2px 2px black;
}

.navbar-collapse{
	background-color: rgba(0,0,0,0.3);
	width:auto;
}

.navbar li{
	color: #000;
}

.btn-default{
	background-color: transparent;
	color: white;
	border-width: 2px;
}

.btn-default:hover{
	color:white;
	transition-duration: 0.5s;
	transform: scale(1.1);
	background-color: transparent;
	border-color:white;
	-webkit-transition: all 100ms ease;
}

.bordered{
	display:inline-block;
	margin-top: 5px;
	padding-left:10px;
	padding-right:10px;
	padding-top:5px;
	padding-bottom:5px;
	margin-left: 7px;
	margin-right: 7px;
	border-radius: 5px;
	border: 1px solid #999;
}

.jumbotron{
  margin: 13%;
  padding:15% 15% 15% 15%;
  color: white;
  text-align: center;
  text-shadow: 3px 5px 5px black;
  background-color: rgba(0,0,0,0.3);
}

#page1{
	background-image: url("../pics/UCSC Bridge.jpg");
	background-size: cover;
	background-repeat: no-repeat;
	background-position: bottom;
}

#page2{
	padding-top: 20px;
	padding-bottom: 20px;
	background-color: #8585ad;
	text-align: center;

}

#page2 h2{
	border-top: 2em;
	text-align: center;
}
#page2 span{
	font-size: 2em;
	color:black;
}

#page3{
	display:none;
	text-align: center;
	background: #d1d1e0;
}

#page3 .row{
	padding-bottom: 2em;
}

#page3 h2{
	text-align: center;
	margin-top: 1em;
	margin-bottom: 1em;
}

#page3 h3{
	padding-top: 0;
	padding-bottom: 10px;
	margin-bottom: 10px;
	border-bottom: 2px solid gray;
}

#page3 .thumbnail{
	display: block;
	border: none;
	margin-bottom: 1em;
	margin-top: 1em;
	box-shadow: 2px 4px 8px #999;
}

#page4{
	background-color:#212121;
	text-align: center;
	color:white;
	box-shadow: 0px 5px 5px 0px rgba(0, 0, 0, 1);
}
#page4 .btn-default{
	border:none;
}
#page4 .btn-default:focus{
	background-color: transparent;
}
#page4 h3{
	margin-top: 0%;
	padding-top: 3%;
}
#page4 p{
	padding-top: 20px;
}
#page4 hr{
	background-image: linear-gradient(to right, rgba(255, 255, 255, 0), rgba(255, 255, 255, 0.75), rgba(255, 255, 255, 0))
}
#page4 a{
	text-decoration: none;
	color:white;
}

.arrow{
	text-shadow: 0px 2px 2px black;
	color: white;
}

.fa-chevron-down{
	font-size: 3em;
	margin-bottom: 15px;
}
.arrow:hover{
	color:black;
}

.aboutme{
	font-size:1.3em;
	padding-left: 50px;
	padding-right: 50px;
	text-align: center
}

.page{
	box-shadow: 0px 3px 3px 0px rgba(0, 0, 0, 0.7);
}

#me{
	width: 80%;
	display: block;
	margin: auto;
	margin-top: 30%;
	border-radius: 10%;
	margin-bottom: 10%;
}


h3{
	margin-top: 0;
}

img {
	vertical-align: middle;
}
